body {
  background-color: hsl(233, 47%, 7%);
  color: white;
  display: grid;
  place-content: center;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  margin: 0;
}

.back {
  font-size: 11px;
  margin: 1rem;
  text-align: center;
}

.back a {
  color: #72dee8;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

#card {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  margin: 1rem 2rem;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  min-width: 400px;
  max-width: 950px;
}

h1 {
  font-weight: 700;
  margin: 0;
}

#img-container {
  background-color: hsl(277, 64%, 61%);
}

img {
  height: 100%;
  mix-blend-mode: multiply;
  filter: opacity(0.75);
}

img::after {
  content: "";
  background-color: hsl(277, 64%, 61%);
  background-size: cover;
  background-position: center;
}

#card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
}

#card-content>p,
#card-content>div {
  font-size: 15px;
}

.highlight {
  color: hsl(277, 64%, 61%);
}

#stats {
  align-self: stretch;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.stat-heading {
  font-weight: normal;
  color: hsla(0, 0%, 100%, 0.6);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.display-column {
  flex-direction: column;
}

.attribution {
  padding-bottom: 1rem;
}

@media screen and (max-width: 850px) {
  #card {
    display: flex;
    flex-flow: column-reverse;
    width: 327px;
    margin-top: 88px;
    height: 80%;
    border-radius: 8px;
  }

  img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    order: 1;
  }
}