:root {
  --cl-background-900: hsl(233, 47%, 7%);
  --cl-background-800: hsl(244, 38%, 16%);
  --cl-primary-600: hsl(277, 64%, 61%);
  --cl-primary-400: hsla(0, 0%, 100%, 0.6);
  --cl-primary-300: hsla(0, 0%, 100%, 0.75);
  --cl-primary-100: hsl(0, 0%, 100%);

  --fs-body: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
}

body {
  background-color: hsl(233, 47%, 7%);
  color: var(--cl-primary-100);
  display: grid;
  place-content: center;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  margin: 0;
}

.back {
  font-size: 11px;
  text-align: center;
}

.back a {
  color: #72dee8;
}

.stat-heading {
  font-size: 12px;
}

p {
  font-size: var(--fs-body);
  color: var(--cl-primary-300);
}

#card {
  background-color: var(--cl-background-800);
  display: flex;
  flex-direction: column-reverse;
  max-width: 305px;
  margin: 1rem;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

#stats {
  text-transform: uppercase;
  align-self: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-weight: bold;
}

h1 {
  font-weight: 700;
  margin: 0;
}

#img-container {
  background-color: var(--cl-primary-600);
}

img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  filter: opacity(0.75);
}

img::after {
  content: "";
  background-color: var(--cl-primary-600);
  background-size: cover;
  background-position: center;
}

#card-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.highlight {
  color: var(--cl-primary-600);
}

.stat-heading {
  font-weight: normal;
  margin-top: .125rem;
  color: var(--cl-primary-400);
}

@media (min-width: 850px) {
  #card {
    text-align: left;
    flex-direction: row;
    max-width: 900px;
    height: 350px;
    gap: 3rem;
  }

  #img-container {
    flex: 0 0 45%;
  }

  img {
    aspect-ratio: 1/1;
    height: 100%;
  }

  p {
    margin-top: 1.5rem;
  }

  #stats {
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
  }

  #card-content {
    justify-content: space-between;
    padding: 3rem;
  }
}